<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create your own - Machine </title>
    <link rel="stylesheet" href="css/juicifer-machine.css">
    <link rel="stylesheet" href="css/buttons.css">
    <script src="/vue/vue.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/juicifer-main.js" defer></script>
    <script src="js/machine1.js" defer></script>

</head>
<body>
    <div class="left">
        <div class="topnav" id="myTopnav">
            <a class="active" href="#home">Create your own</a>
           <a href="#">Recommendation</a>
        </div>
        <!--choosing type-->
        <div id="ctype" class="button-group">
            <button type="button" class="button button-rounded">Smoothie</button>
            <button type="button" class="button button-rounded">Juice</button>
        </div>
        <!--choosing size-->
        <div id="size" class="button-group">
            <button type="button" class="button button-rounded">
                <img src="../pics/small_size.png">
                <h3>SEK 35 <br/> 300 ml</h3>
            </button>
            <button type="button" class="button button-rounded">
                <img src="../pics/medium_size.png">
                <h3>SEK 45 <br/> 400 ml</h3>
            </button>
            <button type="button" class="button button-rounded ">
                <img src="../pics/large_size.png">
                <h3>SEK 55 <br/> 500 ml</h3>
            </button>
        </div>

        <div class="description">
            <h2>Note: <br/>Maximum ingredients limit</h2>
            <h3>
                3  ingredients in  S  size <br/>
                4  ingredients in  M  size <br/>
                5  ingredients in  L  size <br/>
            </h3>

        </div>
        <!--choosing ingredient-->
        <div id="ordering">

            <h1>{{ uiLabels.smoothie }}</h1>
            <ingredient
                    ref="ingredient"
                    type="smoothie"
                    v-for="item in ingredients"
                    v-if="item.vol_smoothie > 0"
                    v-on:increment="addToOrder(item, 'smoothie')"
                    :item="item"
                    :lang="lang"
                    :key="item.ingredient_id">
            </ingredient>

            <h1>{{ uiLabels.juice }}</h1>
            <ingredient
                    ref="ingredient"
                    type="juice"
                    v-for="item in ingredients"
                    v-if="item.vol_juice > 0"
                    v-on:increment="addToOrder(item, 'juice')"
                    :item="item"
                    :lang="lang"
                    :key="item.ingredient_id">
            </ingredient>

            <h1>{{ uiLabels.order }}</h1>
            {{ chosenIngredients.map(item => item["ingredient_"+lang]).join(', ') }} {{ volume }} ml, {{ price }} kr
            <button v-on:click="placeOrder()">{{ uiLabels.placeOrder }}</button>

            <h1>{{ uiLabels.ordersInQueue }}</h1>
            <h2>{{ uiLabels.smoothie }}</h2>
            <div>
                <order-item
                        v-for="(order, key) in orders"
                        v-if="!order.done && order.type == 'smoothie'"
                        :order-id="key"
                        :order="order"
                        :ui-labels="uiLabels"
                        :lang="lang"
                        :key="key">
                </order-item>
            </div>
            <h2>{{ uiLabels.juice }}</h2>
            <div>
                <order-item
                        v-for="(order, key) in orders"
                        v-if="!order.done && order.type == 'juice'"
                        :order-id="key"
                        :order="order"
                        :ui-labels="uiLabels"
                        :lang="lang"
                        :key="key">
                </order-item>
            </div>
        </div>




    </div>

</body>
</html>