<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create your own - Machine </title>
    <link rel="stylesheet" href="css/juicifer-machine.css">
    <link rel="stylesheet" href="css/buttons.css">
    <script src="/vue/vue.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/juicifer-main.js" defer></script>
    <script src="js/machine1.js" defer></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<div id="fruit">
    <button id="language" v-on:click="switchLang()">{{ uiLabels.language }}</button>
<div class="left">

    <div class="topnav" id="myTopnav">
        <a class="active" href="#home">{{ uiLabels.create }}</a>
        <a href="#">{{ uiLabels.rec }}</a>
    </div>

    <!--main-->
    <div >
        <!--choosing type-->
        <p class="description" id="notation1">Fisrt, choose drink type ...</p>
        <div id="ctype" class="button-group" v-if="show_type">
            <p type="button" class="button button-rounded" v-on:click="addTypeToOrder('smoothie')"> {{ uiLabels.smoothie }}</p>
            <p type="button" class="button button-rounded" v-on:click="addTypeToOrder('juice')">{{ uiLabels.juice }}</p>
            <!--<button type="button" class="button button-rounded" v-on:click="addTypeToOrder('smoothie')">{{ uiLabels.smoothie}}</button>-->
            <!--<button type="button" class="button button-rounded" v-on:click="addTypeToOrder('juice')">{{ uiLabels.juice}}</button>-->

            <!--<button id="comfirmbtn">confirm</button>-->
        </div>
        <p class="description" id="notation2"></p>
        <!--choosing size-->
        <div id="size" class="button-group" v-if="show_size">
            <button type="button" class="button button-rounded" v-on:click="addSizeToOrder('small')">
                <img src="../pics/small_size.png">
                <h3>SEK 35 <br/> 300 ml</h3>
            </button>

            <button type="button" class="button button-rounded" v-on:click="addSizeToOrder('medium')">
                <img src="../pics/medium_size.png">
                <h3>SEK 40 <br/> 400 ml</h3>
            </button>

            <button type="button" class="button button-rounded" v-on:click="addSizeToOrder('large')">
                <img src="../pics/large_size.png">
                <h3>SEK 50 <br/> 500 ml</h3>
            </button>

        </div>

        <div class="description" >
            <h2>Note: <br/>Maximum ingredients limit</h2>
            <h3>
                3  ingredients in  S  size <br/>
                4  ingredients in  M  size <br/>
                5  ingredients in  L  size <br/>
            </h3>
            <!--<button class="comfirmbtn">confirm</button>-->
        </div>
        <!--choosing ingredients-->
        <p class="description" id="notation3"></p>
        <div class="togglebox" v-if="show_ingredient">
            <input id="toggle1" type="radio" name="toggle" />
            <label class="special" for="toggle1">Fruits</label>
            <section id="content1">
                    <ingredient
                            ref="ingredient"
                            v-for="item in ingredients"
                            v-if="item.vol_smoothie > 0 && item.ingredient_type=='fruit'"
                            v-on:increment="addToOrder(item)"
                            :item="item"
                            :lang="lang"
                            :key="item.ingredient_id">
                    </ingredient>
            </section>

            <input id="toggle2" type="radio" name="toggle" />
            <label class="special" for="toggle2">Vegetables</label>
            <section id="content2">
                    <ingredient
                            ref="ingredient"
                            v-for="item in ingredients"
                            v-if="item.vol_smoothie > 0 && item.ingredient_type=='vegetable'"
                            v-on:increment="addToOrder(item)"
                            :item="item"
                            :lang="lang"
                            :key="item.ingredient_id">
                    </ingredient>

            </section>

            <input id="toggle3" type="radio" name="toggle" />
            <label class="special" for="toggle3">Others</label>
            <section id="content3">
                <ingredient
                        ref="ingredient"
                        type=""
                        v-for="item in ingredients"
                        v-if="item.vol_smoothie > 0 && item.ingredient_type=='other'"
                        v-on:increment="addToOrder(item)"
                        :item="item"
                        :lang="lang"
                        :key="item.ingredient_id">
                </ingredient>
            </section>

        </div>

        <h1>{{ uiLabels.order }}</h1>
        {{ chosenIngredients.map(item => item["ingredient_"+lang]).join(', ') }} {{ volume }} ml, {{ price }} kr
        <button v-on:click="placeOrder()">{{ uiLabels.placeOrder }}</button>

        <h1>{{ uiLabels.ordersInQueue }}</h1>
        <h2>{{ uiLabels.smoothie }}</h2>
        <div>
            <order-item
                    v-for="(order, key) in orders"
                    v-if="!order.done && order.type == 'smoothie'"
                    :order-id="key"
                    :order="order"
                    :ui-labels="uiLabels"
                    :lang="lang"
                    :key="key">
            </order-item>
        </div>
        <h2>{{ uiLabels.juice }}</h2>
        <div>
            <order-item
                    v-for="(order, key) in orders"
                    v-if="!order.done && order.type == 'juice'"
                    :order-id="key"
                    :order="order"
                    :ui-labels="uiLabels"
                    :lang="lang"
                    :key="key">
            </order-item>
        </div>

    </div>


</div>

<!--shopping list-->
<div class="right">
    <ul class="btn-numbox">
        <li>
            <ul class="count">
                <li><span id="num-dec" class="num-dec">-</span></li>
                <li><input type="text" class="input-num" id="input-num" value="0"></li>
                <li><span id="num-inc" class="num-inc" >+</span></li>
            </ul>
        </li>
        <li><span class="kucun">（Stock:）</span></li>
    </ul>
</div>
</div>
</body>
</html>
