<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recommandation - Machine </title>
    <link rel="stylesheet" href="css/juicifer-machine2.css">
    <link rel="stylesheet" href="css/buttons.css">
    <script src="/vue/vue.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/juicifer-main.js" defer></script>
    <script src="js/machine2.js" defer></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <div id="container">
        <div class="left">
            <div class="topnav" id="myTopnav">         
                <a href="#" id="tag_C" class="active" onclick="showCreation()">Create your own</a>
                <a href="#" id="tag_R" onclick="showRecommendation()">Recommendation</a>
            </div>
        <!--Creation screen -->
            <div class="chooseingscreen" id="creation">
                <!--choosing type-->
                <div id="ctype" class="button-group">
                    <button type="button" class="button button-rounded">Smoothie</button>
                    <button type="button" class="button button-rounded">Juice</button>
                </div>

                <!--choosing size-->
                <div id="size" class="button-group">
                    <button type="button" class="button button-rounded">
                        <img src="../pics/small_size.png">
                        <h3>SEK 35 <br/> 300 ml</h3>
                        
                    </button>
                    <button type="button" class="button button-rounded">
                        <img src="../pics/medium_size.png">
                        <h3>SEK 45 <br/> 400 ml</h3>
                    </button>
                    <button type="button" class="button button-rounded ">
                        <img src="../pics/large_size.png">
                        <h3>SEK 55 <br/> 500 ml</h3>
                    </button>
                </div>

                <div class="description">
                    <h2>Note: <br/>Maximum ingredients limit</h2>
                    <h3>
                        3  ingredients in  S  size <br/>
                        4  ingredients in  M  size <br/>
                        5  ingredients in  L  size <br/>
                    </h3>

                </div>

                <!--applying new css-->
                <div id="fruit">
                    <div class="togglebox">
                        <input id="toggle1" type="radio" name="toggle" />
                        <label for="toggle1">Fruits</label>
                        <section id="content1">
                                <ingredient
                                        ref="ingredient"
                                        type="smoothie"
                                        v-for="item in ingredients"
                                        v-if="item.vol_smoothie > 0 && item.ingredient_type=='fruit'"
                                        v-on:increment="addToOrder(item, 'smoothie')"
                                        :item="item"
                                        :lang="lang"
                                        :key="item.ingredient_id">
                                </ingredient>
                        </section>

                        <input id="toggle2" type="radio" name="toggle" />
                        <label for="toggle2">Vegetables</label>
                        <section id="content2">

                                <ingredient
                                        ref="ingredient"
                                        type="smoothie"
                                        v-for="item in ingredients"
                                        v-if="item.vol_smoothie > 0 && item.ingredient_type=='vegetable'"
                                        v-on:increment="addToOrder(item, 'smoothie')"
                                        :item="item"
                                        :lang="lang"
                                        :key="item.ingredient_id">
                                </ingredient>

                        </section>

                        <input id="toggle3" type="radio" name="toggle" />
                        <label for="toggle3">Others</label>
                        <section id="content3">
                            <ingredient
                                    ref="ingredient"
                                    type="smoothie"
                                    v-for="item in ingredients"
                                    v-if="item.vol_smoothie > 0 && item.ingredient_type=='other'"
                                    v-on:increment="addToOrder(item, 'smoothie')"
                                    :item="item"
                                    :lang="lang"
                                    :key="item.ingredient_id">
                            </ingredient>
                        </section>

                    </div>

                    <h1>{{ uiLabels.order }}</h1>
                    {{ chosenIngredients.map(item => item["ingredient_"+lang]).join(', ') }} {{ volume }} ml, {{ price }} kr
                    <button v-on:click="placeOrder()">{{ uiLabels.placeOrder }}</button>

                    <h1>{{ uiLabels.ordersInQueue }}</h1>
                    <h2>{{ uiLabels.smoothie }}</h2>
                    <div>
                        <order-item
                                v-for="(order, key) in orders"
                                v-if="!order.done && order.type == 'smoothie'"
                                :order-id="key"
                                :order="order"
                                :ui-labels="uiLabels"
                                :lang="lang"
                                :key="key">
                        </order-item>
                    </div>
                    <h2>{{ uiLabels.juice }}</h2>
                    <div>
                        <order-item
                                v-for="(order, key) in orders"
                                v-if="!order.done && order.type == 'juice'"
                                :order-id="key"
                                :order="order"
                                :ui-labels="uiLabels"
                                :lang="lang"
                                :key="key">
                        </order-item>
                    </div>
                </div>
            </div>
        <!--Recommendation screen -->
            <div class="chooseingscreen" id="recommendation">

            <!--choosing size-->
                <div id="size" class="button-group">
                    <H4 align="left" style="line-height:5%">choose the size: </H4>
                    <button class="button button-rounded">
                        <div style="margin-left : 20%">
                            <div style="float:left">
                                <img src="../pics/small_size.png">
                            </div>
                            <div>
                                    <h4 style="line-height: 10px;">300 ml</h4>
                                    <h4 style="line-height: 10px;">SEK 30 </h4>
                                    
                            </div>        
                        </div>
                    </button>
                    <button class="button button-rounded">
                        <div style="margin-left : 20%">
                            <div style="float:left">
                               <img src="../pics/medium_size.png">
                            </div>
                            <div>
                                    <h4 style="line-height: 10px;">400 ml</h4>
                                    <h4 style="line-height: 10px;">SEK 35 </h4>
                                    
                            </div>        
                        </div>
                    </button>

                    <button type="button" class="button button-rounded ">

                         <div style="margin-left : 20%">
                            <div style="float:left">
                               <img src="../pics/large_size.png">
                            </div>
                            <div>
                                    <h4 style="line-height: 10px;">500 ml</h4>
                                    <h4 style="line-height: 10px;">SEK 40 </h4>
                                    
                            </div>        
                        </div>
                    </button>
                </div>

            <!--applying new css-->
                <div id="fruit">
                    <div class="togglebox">
                        <input id="toggle1" type="radio" name="toggle" />
                        <label for="toggle1">Juice</label>
                        <section id="content1">
                                <ingredient
                                        ref="ingredient"
                                        type="smoothie"
                                        v-for="item in ingredients"
                                        v-if="item.vol_smoothie > 0 && item.ingredient_type=='fruit'"
                                        v-on:increment="addToOrder(item, 'smoothie')"
                                        :item="item"
                                        :lang="lang"
                                        :key="item.ingredient_id">
                                </ingredient>
                        </section>

                        <input id="toggle2" type="radio" name="toggle" />
                        <label for="toggle2">Smoothie</label>
                        <section id="content2">

                                <ingredient
                                        ref="ingredient"
                                        type="smoothie"
                                        v-for="item in ingredients"
                                        v-if="item.vol_smoothie > 0 && item.ingredient_type=='vegetable'"
                                        v-on:increment="addToOrder(item, 'smoothie')"
                                        :item="item"
                                        :lang="lang"
                                        :key="item.ingredient_id">
                                </ingredient>

                        </section>

                        <input id="toggle3" type="radio" name="toggle" />
                        <label for="toggle3">Others</label>
                        <section id="content3">
                            <ingredient
                                    ref="ingredient"
                                    type="smoothie"
                                    v-for="item in ingredients"
                                    v-if="item.vol_smoothie > 0 && item.ingredient_type=='other'"
                                    v-on:increment="addToOrder(item, 'smoothie')"
                                    :item="item"
                                    :lang="lang"
                                    :key="item.ingredient_id">
                            </ingredient>
                        </section>

                    </div>

                    <h1>{{ uiLabels.order }}</h1>
                    {{ chosenIngredients.map(item => item["ingredient_"+lang]).join(', ') }} {{ volume }} ml, {{ price }} kr
                    <button v-on:click="placeOrder()">{{ uiLabels.placeOrder }}</button>

                    <h1>{{ uiLabels.ordersInQueue }}</h1>
                    <h2>{{ uiLabels.smoothie }}</h2>
                    <div>
                        <order-item
                                v-for="(order, key) in orders"
                                v-if="!order.done && order.type == 'smoothie'"
                                :order-id="key"
                                :order="order"
                                :ui-labels="uiLabels"
                                :lang="lang"
                                :key="key">
                        </order-item>
                    </div>
                    <h2>{{ uiLabels.juice }}</h2>
                    <div>
                        <order-item
                                v-for="(order, key) in orders"
                                v-if="!order.done && order.type == 'juice'"
                                :order-id="key"
                                :order="order"
                                :ui-labels="uiLabels"
                                :lang="lang"
                                :key="key">
                        </order-item>
                    </div>
                </div>    
            </div>

        </div> <!--class="left"-->
        
        
        <div class="right">
            <img src="images/home.png" id="home">
            <!--orderlist-->
            <div id ="OrderList">
                <p id="list-title">Order List</p>
                <table id="list">
                    <tr>
                        <th class="Odel_check">
                            <img src="images/trashcan_useful.png" width="20px">
                        </th>
                        <th class="Oitem">Item</th>
                        <th class="Osize">Size</th>
                        <th class="Oquantity">Quantity</th>
                        <th class="Oprice">Price</th>
                    </tr>
                </table>
                <button class="listbutton" id="buttonDel"> DELETE </button>
                <button class="listbutton" id="buttonPay"> PAY</button>
            </div>
            
        </div>
    </div>




</body>
</html>