<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JOE's JUICE- Machine </title>
    <link rel="stylesheet" href="css/juicifer-machine.css">
    <link rel="stylesheet" href="css/buttons.css">
    <link rel="stylesheet" href="css/juicifer-machine2.css">
    <script src="/vue/vue.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/juicifer-main.js" defer></script>
    <script src="js/machine2.js" defer></script>
    <script src="js/machine.js" defer></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div id="fruit">
        <!--main-->
        <div class="left">

            <!--labels-->
            <div class="topnav" id="myTopnav">
                <a href="#" id="tag_C" v-bind:class="{active: !show_reccomendation}" v-on:click="showCreation()">Create your own</a>
                <a href="#" id="tag_R" v-bind:class="{active: show_reccomendation}" v-on:click="showReccomendation()">Recommendation</a>
            </div>
            <div class="mainscreen">
                <!--create your own screen-->
                <div id="creation" v-if="!show_reccomendation">
                    <!--choosing type-->
                    <p class="description" id="notation1" v-if="show_type">{{ uiLabels.first_note }}</p>
                    <p class="description" id="notation1" v-if="!show_type" v-on:click="showType()">Change type!</p>
                    <div id="ctype" class="button-group" v-if="show_type">
                        <p type="button" class="button button-rounded" v-on:click="addTypeToOrder('smoothie')" v-bind:class="{onclick: type == 'smoothie', offclick: type == 'juice'}"> {{ uiLabels.smoothie }}</p>
                        <p type="button" class="button button-rounded" v-on:click="addTypeToOrder('juice')" v-bind:class="{onclick: type == 'juice', offclick: type == 'smoothie'}">{{ uiLabels.juice }}</p>
                    </div>
                    <p class="description" id="notation2" v-if="show_size">{{ uiLabels.note_size }}</p>
                    <p class="description" id="notation2" v-if="!show_size" v-on:click="showSize()">Change size!</p>

                    <!--choosing size-->
                    <div id="csize" class="button-group" v-if="show_size">
                        <button type="button" class="button button-rounded" v-on:click="addSizeToOrder('small')" v-bind:class="{ active_button: (size == 'small') }">
                            <img src="../pics/small_size.png" height="70vh">
                            <h3>SEK 35
                                <br>300 ml</h3>
                        </button>

                        <button type="button" class="button button-rounded" v-on:click="addSizeToOrder('medium')" v-bind:class="{ active_button: (size == 'medium') }">
                            <img src="../pics/medium_size.png" height="90vh">
                            <h3>SEK 40
                                <br>375 ml</h3>
                        </button>

                        <button type="button" class="button button-rounded" v-on:click="addSizeToOrder('large')" v-bind:class="{ active_button: (size == 'large') }">
                            <img src="../pics/large_size.png" height="110vh">
                            <h3>SEK 45
                                <br>500 ml</h3>
                        </button>
                    </div>

                    <div class="description" v-if="show_size || show_type">
                        <h2>Note:
                            <br/>Maximum ingredients limit</h2>
                        <h3>
                            3 ingredients in S size
                            <br/> 4 ingredients in M size
                            <br/> 5 ingredients in L size
                            <br/>
                        </h3>
                        <button class="comfirmbtn" v-on:click="confirmSizeType()">Confirm</button>
                    </div>
                    <!--choosing ingredients-->
                    <p class="description" id="notation3" v-if="show_ingredient">Then choose your ingredients...</p>
                    <div class="togglebox" v-if="show_ingredient">
                        <input id="toggle1" type="radio" name="toggle" />
                        <label class="special" for="toggle1">Fruits</label>
                        <section id="content1">
                            <ingredient ref="ingredient" v-for="item in ingredients" v-if="item.vol_smoothie > 0 && item.ingredient_type=='fruit'" v-on:increment="addToOrder(item)"
                                :item="item" :lang="lang" :key="item.ingredient_id">
                            </ingredient>
                        </section>

                        <input id="toggle2" type="radio" name="toggle" />
                        <label class="special" for="toggle2">Vegetables</label>
                        <section id="content2">
                            <ingredient ref="ingredient" v-for="item in ingredients" v-if="item.vol_smoothie > 0 && item.ingredient_type=='vegetable'"
                                v-on:increment="addToOrder(item)" :item="item" :lang="lang" :key="item.ingredient_id">
                            </ingredient>

                        </section>

                        <input id="toggle3" type="radio" name="toggle" />
                        <label class="special" for="toggle3">Others</label>
                        <section id="content3">
                            <ingredient ref="ingredient" type="" v-for="item in ingredients" v-if="item.vol_smoothie > 0 && item.ingredient_type=='other'"
                                v-on:increment="addToOrder(item)" :item="item" :lang="lang" :key="item.ingredient_id">
                            </ingredient>
                        </section>

                    </div>
                </div>

                <!--recommendtation-->
                <div id="recommendation" v-if="show_reccomendation">

                    <!--choosing size-->
                    <p class="description" id="notation_size" v-if="show_size">{{ uiLabels.note_size }}</p>
                    <p class="description" id="notation_restart" v-if="show_options" v-on:click="showSize()">{{ uiLabels.note_restart }}</p>
                    <div id="rm_size" class="button-group" v-if="show_size">

                        <button type="button" class="button button-rounded" v-on:click="chooseReadymadeSize('small')" v-bind:class="{ active_button: (size == 'small') }">
                            <img src="pics/small_size.png" height="70vh">
                            <h3>SEK 35
                                <br> 300 ml</h3>
                        </button>

                        <button type="button" class="button button-rounded" v-on:click="chooseReadymadeSize('medium')" v-bind:class="{ active_button: (size == 'medium') }">
                            <img src="pics/medium_size.png" height="90vh">
                            <h3>SEK 40
                                <br> 400 ml</h3>
                        </button>

                        <button type="button" class="button button-rounded" v-on:click="chooseReadymadeSize('large')" v-bind:class="{ active_button: (size == 'large') }">
                            <img src="pics/large_size.png" height="90vh">
                            <h3>SEK 50
                                <br> 500 ml</h3>
                        </button>

                        <p type="button" id=confrimbtn class="comfirmbtn" v-if="show_size" v-on:click="confirmReadymadeSize()"> Confirm</p>

                    </div>


                    <!--choosing products-->
                    <div class="togglebox" v-if="show_options">
                        <p class="description" id="notation_products">{{ uiLabels.note_product }}</p>
                        <input id="toggle_juice" type="radio" name="toggle" />
                        <label class="special" for="toggle_juice">Juice</label>
                        <section id="content_juice">
                            <readymade ref="readymade" v-for="item in readymade" v-if="item.rm_type=='juice'" :item="item" :lang="lang" :key="item.rm_id"
                                v-on:add="addReadymade(item)">
                            </readymade>
                        </section>
                        <input id="toggle_smoothie" type="radio" name="toggle" />
                        <label class="special" for="toggle_smoothie">Smoothie</label>
                        <section id="content_smoothie">
                            <readymade ref="readymade" v-for="item in readymade" v-if="item.rm_type=='shake'" :item="item" :lang="lang" :key="item.rm_id"
                                v-on:add="addReadymade(item)">
                            </readymade>
                        </section>
                        <input id="toggle_others" type="radio" name="toggle" />
                        <label class="special" for="toggle_others">Others</label>
                        <section id="content_others">
                            <readymade ref="readymade" v-for="item in readymade" v-if="item.rm_type=='shot'" :item="item" :lang="lang" :key="item.rm_id"
                                v-on:add="addReadymade(item)">
                            </readymade>
                        </section>

                    </div>


                </div>
            </div>
        </div>

        <!--shopping list-->
        <div class="right">
            <div id="language">
                <a>Language:
                    <button v-on:click="switchLang()">{{ uiLabels.language }}</button>
                </a>
            </div>
            <!--orderlist-->
            <div id="OrderList">
                <p id="list-title">{{ uiLabels.order }}</p>
                <table id="list">
                    <tr>
                        <th class="Odel_check">
                            <img src="images/trashcan_useful.png" width="20px">
                        </th>
                        <th class="Oitem">Item</th>
                        <th class="Osize">Size</th>
                        <th class="Oquantity">Quantity</th>
                        <th class="Oprice">Price</th>
                    </tr>
                    <tr is="orderedReadymade" v-for="item in orderedReadymade" :item="item" :lang="lang" :key="item.rm_id" v-on:delete="deleteReadymade(item)">
                    </tr>
                </table>


                <!--<h1>{{ uiLabels.order }}</h1>-->
                <div id="list_CYO" v-if="!show_reccomendation">
                    <div v-if="show_ingredient">
                        <h3>{{this.size}} {{this.type}}</h3>
                        <div id="info">

                            <div class="display_ingr">
                                <div class="table">
                                    <span class="display_ingr_label">{{ uiLabels.ingredients }}</span>
                                    <span class="display_ingr_label">{{uiLabels.mainflavor}} </span>
                                    <span class="display_ingr_label">{{uiLabels.delete}} </span>
                                </div>
                                <check_ingredients ref="check_ingredients" v-on:delet_ingre_event="delete_ingredient" @toggle_flavor_event="toggleFlavor"
                                    v-for="item in chosenIngredients" :item="item" :lang="lang" :key="item.ingredient_id">
                                </check_ingredients>
                            </div>

                        </div>
                    </div>
                    <button v-on:click="createJuice()">{{ uiLabels.confirm }}</button>

                    <h1>{{ uiLabels.ordersInQueue }}</h1>
                    <h2>{{ uiLabels.smoothie }}</h2>
                    <div>
                        <order-item1 v-for="(order, key) in orders" v-if="!order.done && order.type == 'smoothie'" :order-id="key" :order="order"
                            :ui-labels="uiLabels" :lang="lang" :key="key">
                        </order-item1>
                    </div>
                    <h2>{{ uiLabels.juice }}</h2>
                    <div>
                        <order-item1 v-for="(order, key) in orders" v-if="!order.done && order.type == 'juice'" :order-id="key" :order="order" :ui-labels="uiLabels"
                            :lang="lang" :key="key">
                        </order-item1>
                    </div>
                </div>


                <button class="listbutton" id="buttonDel" v-if="show_reccomendation" v-on:click="cleanReadymade()"> RESET </button>
                <button class="listbutton" id="buttonPay" v-on:click="orderReadymade()"> PAY</button>
            </div>

        </div>

    </div>
</body>

</html>