<!DOTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>mob2</title>
		<link rel="stylesheet" type="text/css" href="../public/css/reset.css">
		<link rel="stylesheet" href="../public/css/buttons.css">
		<link rel="stylesheet" type="text/css" href="../public/css/mob.css">
		<link rel="stylesheet" type="text/css" href="../public/css/mobile.css">

		<script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
		<script src="/vue/vue.js" defer></script>
		<script src="/socket.io/socket.io.js" defer></script>
		<script src="/js/juicifer-main.js" defer></script>
		<script src="/js/own.js" defer></script>

	</head>
	<script>
		function showcart() {

			if(showdiv_display = document.getElementById('small_list').style.display == 'none') {

				document.getElementById('small_list').style.display = 'block';

			} else {

				document.getElementById('small_list').style.display = 'none';

			}

		}

		function showdiv() {

			if(showdiv_display = document.getElementById('size').style.display == 'none') {

				document.getElementById('size').style.display = 'block';

			} else {

				document.getElementById('size').style.display = 'none';

			}

		}

		function jumpCart() {
			window.location.href = "mob3.html";
		}

		function showDetail() {
			window.location.href = "mob3.html"
		}
	</script>

	<body>
		<div id="step">
			<button id="back" align="left" class="button button-large button-plain button-borderless">
                          <i class="fas fa-angle-left"></i>
                    </button>
			<span align="center">Home </span>
			<button id="cart" onclick="showcart()" align="right" class="button button-medium button-plain button-borderless">
                <i class="fa fa-shopping-cart"></i>
            </button>
		</div>

		<div id="rec_button">
			<button type="button" class="button button-rounded" onclick="showdiv()">
                <img src="../public/images/rec/images%20(1).png" class="rec_img">
            </button>

			<button type="button" class="button button-rounded" onclick="showdiv()">
                <img src="../public/images/rec/images%20(2).png" class="rec_img">
            </button>

			<button type="button" class="button button-rounded" onclick="showdiv()">
                <img src="../public/images/rec/images%20(3).png" class="rec_img">
            </button>

			<button type="button" class="button button-rounded" onclick="showdiv()">
                <img src="../public/images/rec/images%20(4).png" class="rec_img">
            </button>

			<button type="button" class="button button-rounded" onclick="showdiv()">
                <img src="../public/images/rec/images%20(5).png" class="rec_img">
            </button>

			<button type="button" class="button button-rounded" onclick="showdiv()">
                <img src="../public/images/rec/images%20(6).png" class="rec_img">
            </button>
		</div>

		<div id="size" class="button-group" style="display: none;position: fixed;">
			<button type="button" class="button buttom-rounded" onclick="jumpCart()">
                <img src="small_size.png" id="small_rec_cup">
                <h3>SEK 45<br/>300ml</h3>
            </button>
			<button type="button" class="button buttom-rounded" onclick="jumpCart()">
                <img src="medium_size.png" id="medium_rec_cup">
                <h3>SEK 55<br/>470ml</h3>
            </button>
			<button type="button" class="button buttom-rounded" onclick="jumpCart()">
                <img src="large_size.png" id="large_rec_cup">
                <h3>SEK 65<br/>550ml</h3>
            </button>
			<span></span>
		</div>
		<div id="small_list" style="display: none;">
			<table id="small_table">
				<tr>
					<th>Product</th>
					<th>Size</th>
					<th>Amount</th>
				</tr>

			</table>
			<button id="show_detail" class="bigBtn button button-glow button-border button-rounded button-primary" onclick="showDetail()">Show Detail</button>
		</div>

	</body>

</html>