<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mobile</title>
    <link rel="stylesheet" type="text/css" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="../public/css/mobile.css">
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

</head>

<body>
    <div id="step">
        <button id = "back" align = "left" class="button button-large button-plain button-borderless">
              <i class="fas fa-angle-left"></i>
        </button>
        <span align = "center">Ingredients </span>
        
        <button id = "cart" align = "right" class="button button-medium button-plain button-borderless">
            <i class="fa fa-shopping-cart"></i>
        </button>
    </div>
    
    <div class="button-group" id="ingredient_type" >
        <button type="button" class="button button-border button-rounded button-small">Fruits</button>
        <button type="button" class="button button-border button-rounded button-small">Vegetables</button>
        <button type="button" class="button button-border button-rounded button-small">Spices</button>
    
    </div>
    
    <div id = "display_ingredient">
    
    
    </div>
    
    <div id = "ingredient_bottom">
        
    </div>

</body>
</html>