<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mobile</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/mobile.css">
    
    <script src="/vue/vue.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/juicifer-main.js" defer></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
  
    <script defer src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js
"></script>
    <script defer src="/js/own_ingredients.js"></script>  
    

    
</head>

<body>
    <div id="step">
        <button id = "back" align = "left" class="button button-large button-plain button-borderless">
              <i class="fas fa-angle-left"></i>
        </button>
        <span align = "center">Ingredients </span>
        
        <button id = "cart" align = "right" class="button button-medium button-plain button-borderless">
            <i class="fa fa-shopping-cart"></i>
        </button>
    </div>
    
<div id ="route_type">    
    <div class="button-group" id="ingredient_type" class = "scroll_fixed">
        
            <!-- use router-link component for navigation. -->
            <!-- specify the link by passing the `to` prop. -->
            <!-- <router-link> will be rendered as an `<a>` tag by default -->
        <router-link to="/fruit" type="button" id="fru" class="button button-border button-rounded button-small">Fruits
        </router-link>
        
        <router-link to="/vegetables" type="button" id="veg" class="button button-border button-rounded button-small">Vegetables
        </router-link>
        
        <router-link to="/others" type="button" id="othr" class="button button-border button-rounded button-small">Others
        </router-link>
    
    </div>
    
    <div id = "display_ingredient">

          <!-- route outlet -->
          <!-- component matched by the route will render here -->
          <router-view></router-view>

    </div>
</div>
    
    <div id = "ingredient_bottom" class = "scroll_fixed bottom">

           
            
        <button type="button" id = "check_ingredients" class = "button button-border button-rounded button-small">
            <i class="fas fa-plus"></i>  
            Details
        </button>

        
        <button type="button" id = "create_next" class = "button button-border button-rounded button-small">  
            Next
        </button>
        
    </div>

</body>
</html>