<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mobile</title>
    <link rel="stylesheet" type="text/css" href="../public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../public/css/mobile.css">

</head>

<body>
    <div id="step">
        <button id = "back" align = "left">
            <img src = "../back.png">
        </button>
        <span align = "center">Create your own </span>
        <button id = "cart" align = "right">
            <img src = "../cart.png">
        </button>
    </div>
 
    <div id = "type">
        <button id = "smoothie" class = "bigBtn">
            smoothie
        </button>
        <button id = "jucie" class = "bigBtn">
            juice
        </button>
    </div>

</body>
</html>