<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mobile</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/mobile.css">
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <script src="/vue/vue.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/juicifer-main.js" defer></script>
    <script src="/js/own_size.js" defer></script>

</head>

<body>
    <div id="step">
        <button id = "back" align = "left" class="button button-large button-plain button-borderless">
              <i class="fas fa-angle-left"></i>
        </button>
        <span align = "center">Size </span>
        
        <button id = "cart" align = "right" class="button button-medium button-plain button-borderless">
            <i class="fa fa-shopping-cart"></i>
        </button>
    </div>
 
  <div id = "size" class="button-group">
    <button v-on:click="choose_small" type="button" class="button button-rounded">
        <img src = "small_size.png" id = "small_cup">
      <h3>SEK 45 <br/> 300 ml</h3>
    </button>
    <button v-on:click="choose_medium" type="button" class="button button-rounded">
        <img src = "medium_size.png" id = "medium_cup">
      <h3>SEK 55 <br/> 470 ml</h3>
    </button>
    <button v-on:click="choose_large" type="button" class="button button-rounded ">
        <img src = "../large_size.png" id = "large_cup">
      <h3>SEK 65 <br/> 550 ml</h3>
    </button>
  </div>
    
    <div id = "notes" v-align="bottom">
        <h2>Note: <br/>Maximum ingredients limit
        </h2><br/>
        <h3>
            3  ingredients in  S  size <br/>
            4  ingredients in  M  size <br/>   
            5  ingredients in  L  size <br/>
        </h3>

    </div>

</body>
</html>