<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mobile</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="/css/mobile.css">

    <script src="../js/tool.js" defer></script>
    <script src="../vue/vue.js" defer></script>
    <script src="../socket.io/socket.io.js" defer></script>

    <script src="../js/juicifer-main.js" defer></script>
    <script src="../js/mobile_common.js" defer></script>
    <script src="../js/mobile.js" defer></script>
    <style>
      .title {
        display: flex;
        justify-content: center;
        margin-top: 60px;
      }
      .title h1 {
        font-size: 60px;
      }
      .button {
        font-size: 30px;
      }
      a {
        color: #1b9af7;
        text-decoration:none;
      }
    </style>
</head>

<body>
  <div id="app">
    <div>
      <div id="step">
          <span align = "center"> <button class="button-rounded" v-on:click="switchLang()">{{ uiLabels.language }}</button></span>

          <mini-cart :items="storegeData"></mini-cart>
      </div>

      <div class="title">
        <h1>{{uiLabels.joe}}</h1>
      </div>

      <div>
        <a href="/mobile/create">
          <button class="bigBtn button button-glow button-border button-rounded button-primary">
            {{uiLabels.create_your_own}}
          </button>
        </a>
        <a href="/mobile/recommendation">
          <button class = "bigBtn button button-glow button-border button-rounded button-primary" >
            {{uiLabels.recommendation}}
          </button>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
