
body {
    font-family: Arial;
}


.left {
    float: left;
    margin-top: 2%;
    width: 69.5%;
}

.right {
    margin-top: 0%;
    float:right;
    min-height: 90%;
    width: 29.5%;

}

/* Add a black background color to the top navigation */
.topnav {
    background-color: orange;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Add a color to the active/current link */
.topnav a.active {
    background-color: orangered;
    color: white;
}

.col1 {
    width: 30%;
    padding: 10px;
}


.button-group{
    display:inline-block !important;
    text-align: center;
    width:100%;

}

.button-group button{
    padding: 0;
    text-align: center;
    font-size: 15px;
    color: #333333;
    border-color:#003366;
}

.button-group p{
    padding: 0;
    text-align: center;
    font-size: 15px;
    color: #333333;
    border-color:#003366;
}

onclick.button {
    background-color: #febc44;
}




#ctype p.onclick{
    background-color: #febc44;
}

#ctype p.offclick{
    background-color: #bbbbbb;
}
#ctype p{
    display: inline-block; !important;
    font-size: 15px;
    float: left;
    font-family: Arial;
    font-style: inherit;
    text-align: center;
    line-height: 35px;
    width: 49%; !important;
    height: 30px; !important;
    background-color: #febc44;
    margin-top:0.5em;
    margin-right: 1%;

}
#size{
    width:100%;
}

#size button{
    width: 33%;
    margin-right:2px;
    margin-top: 0.5em;
    border:dashed;
    border-color:#336699;
    height: auto;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

#size button:active, visited{
    background-color: #febc44;
}

#size img{
    height: 8em;
}

.description {
    vertical-align: bottom;
    margin-top: 0.5em;
    border:solid;
    border-color: #003366;
    border-radius: 10px;
    text-align: center;
}

.description h2{
    font-size:15px;
}
.description h2:before {
    content: '\f05a';
    font-family: fontawesome;
}
.description h3{
    font-size:12px;

}

/*for folding*/

.togglebox {
    margin-top: 0.5em;
    background: #fff;
    transform: translateZ(0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    height: 80vh;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
}

label {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 700;
    border-top: 1px solid #ddd;
    background: #febc44;
    cursor: pointer;
}

label[for*='1'] {
    border: 0;
}

label.special:after {
    content: '\f078';
    position: absolute;
    top: 0px;
    right: 20px;
    font-family: fontawesome;
    transform: rotate(90deg);
    transition: .3s transform;
}

section {
    height: 0;
    transition: .3s all;
    overflow: hidden;
}

#toggle1:checked ~ label[for*='1']:after,
#toggle2:checked ~ label[for*='2']:after,
#toggle3:checked ~ label[for*='3']:after,
#toggle4:checked ~ label[for*='4']:after {
    transform: rotate(0deg);
}

#toggle1:checked ~ #content1,
#toggle2:checked ~ #content2,
#toggle3:checked ~ #content3,
#toggle4:checked ~ #content4 {
    height: 40%;
    overflow: scroll;
}

#content1 label{
    width:20vh;
    height:20vh;
    margin:15px;
    display:inline-block;
    position:relative;
    background-color: #b9e563;

}
#content2 label{
    width:20vh;
    height:20vh;
    margin:15px;
    display:inline-block;
    position:relative;
    background-color: #b9e563;

}
#content3 label{
    width:20vh;
    height:20vh;
    margin:15px;
    display:inline-block;
    position:relative;
    background-color: #b9e563;

}



.ingredient {
    display:inline-block;
    position: relative;
    float: left;

}


.ingredient img {
    width:50%;
    height:50%;
}


.ingredient :not(img) {
    position: relative;
    width: 100%;
    z-index: 1;
    text-align: center;
}

.ingredient h3{
    margin-top: -10px;
    margin-bottom: -10px;
}

.ingredient h4{
    margin-top: -35px;
    margin-bottom: -30px;
}

.ingredient div{
    width:58px;
}
.ingredient p{
    margin-top: -30px;
    font-style: italic;
}




.inlist {
    background-color: #b9e563;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

.btn-numbox {

}

.btn-numbox li {
    float: left;
}

.btn-numbox li .kucun {
    display: inline-block;
    font-size: 12px;
    color: #808080;
    vertical-align: sub;
}

.btn-numbox .count {
    overflow: hidden;
    margin: 0 16px 0 -20px;
}

.btn-numbox .count .num-dec,
.input-num,
.num-inc {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 18px;
    color: #999;
    cursor: pointer;
    border: 1px solid #e6e6e6;
}

.btn-numbox .count .num-inc {
    margin-left: 1px;
}

.btn-numbox .count .input-num {
    width: 58px;
    height: 26px;
    color: #333;
    border-left: 0;
    border-right: 0;
}

/*update by Shania*/

/* initial display screen without recommendation info */
#recommendation {
    display: none;
}



