body {
    font-family: Arial;
    display: inline-block;
}

.left {
    width: 70%;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: orange;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Add a color to the active/current link */
.topnav a.active {
    background-color: orangered;
    color: white;
}

.col1 {
    width: 30%;
    padding: 10px;
}