/* hide recommendation page in the initial time*/ 
#recommendation {
    display: none;
}



/*showing products*/
#toggle_juice:checked ~ label[for*='juice']:after,
#toggle_smoothie:checked ~ label[for*='smoothie']:after,
#toggle_others:checked ~ label[for*='others']:after,
#toggle_tmp:checked ~ label[for*='4']:after {
    transform: rotate(0deg);
}

#toggle_juice:checked ~ #content_juice,
#toggle_smoothie:checked ~ #content_smoothie,
#toggle_others:checked ~ #content_others,
#toggle_tmp:checked ~ #content4_tmp {
    height: 70%;
    overflow: scroll;
}


#content_juice label{
    width: 30vh;
    height : 30vh;
    margin:1vh;
    display:inline-block;
    position:relative;
    background-color:white;
    border:solid 2px;
    border-color: rgb(30, 116, 228);
    color:rgb(30, 116, 228);
    float:left;
    font-size:2vh;
}
#content_smoothie label{
    width: 30vh;
    height : 30vh;
    margin:1vh;
    display:inline-block;
    position:relative;
    background-color:white;
    border:solid 2px;
    border-color: rgb(30, 116, 228);
    color:rgb(30, 116, 228);
    float:left;
    font-size:2vh;
}
#content_others label{
    width: 30vh;
    height : 30vh;
    margin:1vh;
    display:inline-block;
    position:relative;
    background-color:white;
    border:solid 2px;
    border-color: rgb(30, 116, 228);
    color:rgb(30, 116, 228);
    float:left;
    font-size:2vh;

}

.readymade {
    display:inline-block;
    position: relative;
    float: left;

}


.readymade img {
    width:50%;
    height:50%;
}


.readymade :not(img) {
    position: relative;
    width: 100%;
    z-index: 1;
    text-align: center;
}

.readymade h3{
    margin-top: -10px;
    margin-bottom: -10px;
}

.readymade h4{
    margin-top: -5px;
    margin-bottom: -5px;
    line-height: 15px;
}

.readymade div{
    width: 28%;
}
.readymade p{
    margin-top: -30px;
    font-style: italic;
}


/* The list from */
#list{
    word-break: break-all;
    margin: 1% 1% 1% 1%;
    text-align: center;
    /*border-bottom: 1.5px solid;*/
}
.Odel_check{
    width: 1%;
}
.Oitem{
    width: 12%;
}
.Osize{
    width: 4%;
}
.Oquantity{
    width: 6%;
}
.Oprice{
    width: 5%;
}

.listbutton{
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Marker Felt, fantasy;
    height: 20%;
    width: 40%;
    text-transform: uppercase;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 1%;
    margin-right: 1%
}

#buttonDel{
    display: none;
    background-color: #C0C0C0;
    border: 1.5px solid #4682B4;
    float: left;
}

#buttonPay{
    background-color: #9ACD32;
    border: 1.5px solid #2E8B57;
    float: right;
}

/*size buttons for message passing*/
#rm_size{
    width:100%;
}


#rm_size button{
    width: 32%;
    height: 22vh;
    margin-right:2px;
    margin-top: 0.5em;
    border:solid;
    background-color: white;
    border-color:rgb(30, 116, 228);
    margin-right:0%;
    margin-left:1%;
    padding-top: 1em;
    padding-bottom: 0.5em;
    border-radius: 3vh;
}

#rm_size button:active, visited{
    border:solid;
    border-color: rgb(255, 137, 0);
    border-radius: 3vh;
}

#rm_size img{
    margin: 0% 0% 0% 10%;
    float: left;

}


#rm_size h3{
    margin: 0% 25% 0% 0%;
    text-align: right;
    
}


/* Order List */

#OrderList{ 
    
    margin-top:15%;
    border: solid;
    /*border-color: grey;*/
}

#language{
    
    height: 15%;
    float: right;
    margin-right: 2%;
    
   
}

#list-title{
    font-family: Trattatello, fantasy;
    text-decoration:underline;
    text-align: center;
    color: #CD5C5C;
    font-size: 300%;
    margin: 1% 1% 1% 1%;
}

#confrimbtn{
    border:solid 1px;
    border-color: rgb(66, 66, 66);
    border-radius: 1vh;
    background-color: #febc44;
    width:20vh;
    height: 4vh;
    float:right;
    text-align: center;
    font-size:3vh;
    margin-right: 2vh;
}